@font-face {
    font-family: Source Sans Pro;
    src: url(./Fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: Source Sans Pro-Black;
    src: url(./fonts/SourceSansPro-Black.otf);
}

@font-face {
    font-family: Source Sans Pro-SemiBold;
    src: url(./fonts/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: Source Sans Pro-Bold;
    src: url(./fonts/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: Source Sans Pro_Lightit;
    src: url(./fonts/SourceSansPro-LightIt.otf);
}

@font-face {
    font-family: Source Sans Pro-Light;
    src: url(./fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: spincycle_ot;
    src: url(./fonts/spincycle_ot.otf)
}

img {
    width: 150px;
    height: 150px;
}
body,
body * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.school-page {

    overflow-x: hidden;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    margin: auto;
    flex-shrink: 0;


    width: 100%;
    height: 100%;
    top: -0px;
    left: -0px;
}

span {
        color: #C271FF;
}

.main-part {

    margin:auto;
}


.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {

    width: 180px;
    height: 35px;
    overflow: hidden;
    padding-top: 50px;
    margin-left: 200px;
}

.links {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 150px 0px 400px;
}

.links a {

    color: #ffffff;
    text-align: left;
    font: 700 12px "Source Sans Pro", sans-serif;
    margin: 10px 30px 10px 30px;
    line-height: normal;
    font-style: normal;
    text-decoration: none;
}


.banner-section {

    display: flex;
    flex-direction: column;
}

.banner-block1 {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-block1 h1 {

    align-content: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro-Bold;
    font-size: 120px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 40px 10px 0px 80px;
    margin: 60px 0 0 0;
}


.banner-block1 p {

    display: flex;
    align-items: center;
    margin: 0 0 5px 95px;
}

.banner-block1 span {

    color: #ffffff;
    text-align: center;
    font: 600 14px "Source Sans Pro-Light", sans-serif;
    margin: 0 30px 0 25px;
    line-height: normal;
}

.banner-button {
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 15px;
    align-content: center;
    justify-content: center;
    margin: 40px 0 10px 0px;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    border-radius: 60px;
    text-transform: uppercase;
    background: #C271FF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
}

.banner-block2 span {
    font-family: "Source Sans Pro-Bold";
}

.banner-block2 {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.banner-block2 h1 {

    align-items: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    font-family: "Source Sans Pro-Light";
    font-style: normal;
    margin-top: 180px;
    padding-top: 40px;
}

.banner-block2-people {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 20px 0px 20px;
}

.banner-person {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0px 50px;
    padding-top: 15px;
}

.banner-person > h3 {

    color: #FFF; 
    text-align: center;
    font-family: "Source Sans Pro-Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 5px auto 5px auto;
}

.banner-person > p {

    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro-LightIt";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-style: italic;
    margin: auto;
    padding-bottom: 80px;
}


.quote-section {



    display: flex;

    margin: 22px 0 10px 0;
    width: auto;
    height: auto;
    background-color: #C271FF;

}

.quote-block {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:80px 40px 100px 160px;

}

.quote-person {

    float: left;
    flex-shrink: 0;
    margin:10px;
    height: 160px;
    width: 160px;
}

.quote {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    margin: 0px 90px 10px 0px;
}

.quote > p {
    font-family: "Source Sans Pro-Semibold";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.quote p, cite {
    margin: 2px 0 2px 40px;
}


.video-section {

    margin: 40px 140px 20px 100px;
}

.video-section h1 {

    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.video-section span{
    color: #C271FF;
    font-family: Source Sans Pro-Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.video-block {

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.video {

    text-align: center;
    margin: 40px 20px 60px 10px;
}

.play-video {
    position: relative;
}

.vid {

    width: 100%;
    height: auto;
}

.play {
   
    height: 70px;
    width: 70px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 95%;
}

.video h2 {

    margin: 10px 20px 0px 0px;
    text-align: left;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: left;
}

.video p {

    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    justify-content: left;
}

.video-info h3 {

    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    padding-top: 10px;
    padding-left: 60px;
    text-align: left;
}

.video-info img {

    float:left;
    height:40px;
    width: 40px;
}

.video-rating p {

    color: #C271FF;
    text-align: right;
    margin-top: 20px;
}

.stars {
    float: left;
    margin:2px;
    padding: 1px;
}

.stars img{

    height: 10px;
    width: 10px;
    margin-top: 4px;
}


.membership-section{

    background-color: #071629;
    color: #ffffff;
    height:500px;
}

.membership-section h1 {

    color: #FFF;
    font-family: Source Sans Pro-Light;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding-top: 60px;    
}

.membership-section span {

    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro-Bold;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.membership-block {

    display: flex;
    justify-content: space-evenly;
    margin: 60px 40px 60px 40px;
}

.membership-block  div{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.membership-section button {

    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 15px;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    margin: auto;
    padding: 1em 1.5em 1em 1.5em;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    background: #C271FF;

}

.review-block > img{

    width: 43.666px;
    height: 35.353px;
    flex-shrink: 0;
    display:flex;
    justify-content: center;
}


.review-block > h2 {

    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

}


.review-block > p {

    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}


.faqs-section {
    align-items: center;
justify-content: center;
}

.faqs-section>h1 {

    font-family: Source Sans Pro-Light;
    font-size: 60px;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 0px;
    text-align: center;
    margin: 30px 0 0 0;
}

.faqs-block {

    justify-content: center;
    margin: 50px 200px 0 250px;

}

.row-block {

    margin-bottom: 25px;
}

.item-block {
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    justify-content: center;
}

.item-block h2 {

    color: #071629;
    font-family: Source Sans Pro-Bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 30px 10px 30px;
}

.item-block p {

    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 30px 10px 30px;
}


.footer {

    background-color: #071629;
    color: #FFF;
    height: 290px;
}

.global-block {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
        height: auto;
}

.global-block p {

}

.social-icons {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: 120px 80px 40px 0;
}

.instagram {
    height: 30px;
    width: 30px;

}

.twitter {
    height: 30px;
    width: 30px;

}

.facebook {
    height: 30px;
    width: 30px;
}

.row-block {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.logo2 {


    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 35px;
    padding: 20px;
    margin: 100px 80px 0px 140px;
}

.smileschool {

    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 30.517%;
    margin-top: 40px;
}
